[project]
name = "tagentacle-py"
version = "0.1.0"
description = "Tagentacle Python SDK"
readme = "README.md"
requires-python = ">=3.8"
dependencies = []

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"
